.solapas .contenido table.inline{clear:none !important; display:inline !important; margin:0 4px;}
fieldset.box-container-example{ padding:4px 4px 6px 10px !important;}
fieldset.box-container-example textarea{ width:340px; height:100px; float:left; margin-right:10px;}
fieldset.box-container-example textarea.with100{ width:520px; height:298px;  margin-right:5px;}
fieldset.box-container-example textarea.with100.ws-message{height:324px;} 
fieldset.box-container-example div.box-example{ width:150px; float:right; border-left:1px solid #999; padding:2px 4px 2px 20px; margin-top:4px;}
fieldset.box-container-example i{font-style:italic !important;}
fieldset.box-container-example p.marginTop{ margin-top:4px;}
fieldset.box-container-example a.a-click-example{text-decoration:none !important; color:inherit !important;}
fieldset.box-container-example label{margin-left:10px;}

fieldset.box-container-example fieldset.campos,
fieldset.box-container-example fieldset.campos fieldset{border:0px !important; text-align:right !important;}
fieldset.box-container-example fieldset.campos fieldset{margin-right:10px;}
fieldset.box-container-example fieldset.campos label{margin-right:5px;}

fieldset.box-container-example fieldset.campos{border-bottom:1px solid #CCC !important; margin:2px 0px !important; }