div.panico_global_cliente_mail_cuenta {
	margin-left: 37px!important;
}

div.panico_global_cliente_mail {
	margin-top: 23px!important;
}

span.panico_global_cliente_mail {
	word-spacing: 1px;
}